/* This is main less file, that should contain only imports of other files */
@root-dir: '../../..';

@import "bootstrap.less";

@import "variables.less";

@import "bootstrap-variables-overrides.less";

@import "header.less";

@import "footer.less";

@import "login.less";

@import (inline) "@{root-dir}/bower_components/components-font-awesome/css/font-awesome.css";
@import "@{root-dir}/bower_components/toastr/toastr";

@import (inline) "@{root-dir}/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css";

@import (inline) '@{root-dir}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';

body {
    font-family: 'Lato', sans-serif;
    //font-family: 'Roboto', sans-serif;
}
