body{
    font-family: 'Roboto', sans-serif;
}

.body-bg{
    background-color: @NavyBlue-1;
}

.green{
    color: @green-1;
}


.welcome{
    font-size: 16px;
    color: @white;
    text-align: center;
    line-height: 31px;

    p{
        margin-top: 20px;
        //font-weight: lighter;
        font-weight: 100;
    }
    span{
        font-weight: 100;
    }
}

.form-front{
    width: 373px;
    min-height: 232px;
    background: @white;
    margin: 30px auto;
    padding: 28px 40px 45px;
    box-shadow: 5px 5px 0px #151b24;
    font-size: 13px;
    text-align: center;

    input{
        width: 292px;
        height: 31px;

        padding: 10px;
        margin-top: 15px;
        background: @NavyBlue-1;
        border: none;
        color: @white

    }

    .submit{
        width: 293px;
        height: 31px;
        line-height: 12px;
        color: @white;
        background: @green-1;
        border: none;
    }

    a{
        color: @NavyBlue-2;
        //margin-top: 20px;
        text-decoration: underline;
    }
    
}
