//Font
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900italic,300italic,300,100italic,100);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,700,400italic,700italic,900,900italic);

// Variables

@green-1: #87c540;
@green-2: #99c23c;
@NavyBlue-1: #242c37;
@NavyBlue-2: #151b24;
@NavyBlue-3: #152032;
@NavyBlue-4: #293341;
@NavyBlue-5: #1e2530;
@NavyBlue-6: #141823;

@Blue-1: #6498ED;
@Purple: #4d297a;

@White: #FFFFFF;
@Gray-1: #e0e0df;
@Gray-2: #dddfe6;
@Gray-3: #eaebef;
@Gray-4: #4a484a;
@Gray-5: #494849;
@Gray-6: #afafb0;

@Red-1: #ba332b;

.default-bg {
    background-color: @Gray-3;
}